.nav {
  width: auto;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo span.text {
  font-size: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.side_menu  {
  height: 100%;
  width: 30%;
  background-color: rgb(28, 31, 37);
  display: block;
}

.side_menu li {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 30px;
  text-align: end;
}

.close_side_menu {
  margin-top: 20px;
  margin-right: 30px;
  font-size: 32px;
  display: flex;
  justify-content: end;

  cursor: pointer;
} 

li a {
  color: white;
  text-decoration: none;
}

/* Define a cor dos links quando o mouse passa por cima */
li a:hover {
  color: #ff9900;
  /* Substitua pelo código de cor desejado */
}

/* CSS media query dentro de um stylesheet */
@media (max-width: 1000px) {
  .side_menu {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .side_menu {
    width: 80%;
  }
}