@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

html {
  font-family: 'Merriweather Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: rgb(28, 31, 37);
  color: white;

  display: flex;
  justify-content: start;
  align-items: start;
}
.fixed{
  justify-content: end;
  position: fixed;
  width: 0%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  transition: width 0.3s ease-in-out;

}
div .fixed_disable {
  display: none;
  width: 0%;
  transition: width 0.3s ease-in-out;

}

div .fixed_active {
  display: flex;
  width: 100%;
  transition: width 0.3s ease-in-out;

} 
